{% extends "flights/layout.html" %}
<!-- begin of body tag -->
{% block body %}
<h1 style="font-style: italic;">Flight ID: {{ flight.id }}</h1>
<ul>
    <li>Origin: {{ flight.origin }}</li>
    <li>Destination: {{ flight.destination }}</li>
    <li>Duration: {{ flight.duration }}</li>
</ul>

<h2>Pessenger on this Flight</h2>
<ul>
    {% for pessenger in pessengers %}
    <li>{{ pessenger }}</li>
    {% empty %}
    <li>There are no pessenger(s) on this Flight.</li>
    {% endfor %}
    <a href="{% url 'index' %}">Back to flights</a>
</ul>

<h2>Add Passenger</h2>
<form action="{% url 'book' flight.id %}" method="POST">
    {% csrf_token %}
    <select name="pessenger">
        {% for pessenger in non_pessengers %}
        <option value="{{pessenger.id}}">{{pessenger}}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>
{% endblock %}